.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

h1 {
  color: #eeeeee;
}

#cancel {
  background-color: #ff0000;
}

.order-id {
  color: green;
  font-weight: 500;
}
